.contacts-list {
    
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width:768px){
      margin-top: 21px;
    }
    @media screen and (min-width:1200px){
      display: flex;
      margin: 0;
  }
}
  .contacts-list__item {

    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    @media screen and (min-width:768px) and(max-width:1199px){
      &:not(:last-child){
        margin-bottom: 10px;
    }
  }
  @media screen and(min-width:1200px){
    &:not(:last-child) {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
    }
  }
}

.contacts-list__link {
  display: flex;
  margin-right: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text);
    @media screen and (min-width:768px) and (max-width:1199px){
        padding-top:0px;
        padding-bottom: 0px;
  }
}


  .contacts-list__icon-mail {
    width: 16px;
    height: 12px;
    fill: currentColor;
    order: -1;
    margin-right: 10px;
  }
  
  .contacts-list__icon-phone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    order: -1;
    margin-right: 10px;
  }