// ============================================= FOOTER ======================== //
.footer-form {
    align-content: center;
    // margin-left: 70px;
  }
  .footer-form-input {
    // width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
    border-radius: 4px;
    outline: none;
    padding: 12px;
    transition: border-color 250ms linear;
    @media screen and (min-width:0px) and (max-width:767px){
      width: 100%;
      margin-bottom: 20px;
    }
    &:focus{
      border-color: var(--accent);
    }
  }

// =========================================================== MODAL ========================================================//

.form-padding {
  padding: 40px;
}

.modal-field {
  margin-bottom: 10px;
}
.modal-textarea {
  margin-bottom: 20px;
}
.Modal-chekbox {
  margin-bottom: 30px;
}
.form-title {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.label-text {
  display: block;
  width: 80px;
  height: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
  transition: border-color 250ms linear;
  &:focus{
    border-color: var(--accent);
  }
  &:focus {
    + .form-icons {
      fill: var(--accent);
    }
  }
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms linear;
    &:focus{
      border-color: var(--accent);
    }
}



.form-icons {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}

.check-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  // font-size: 14px;
  // line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width:339px){
    font-size: 6px;
  line-height: 10px;
  }
  @media screen and( min-width:340px) and (max-width:479px){
    font-size: 7px;
    line-height: 10px;
  }
}

.icon-check {
  width: 11px;
  height: 9px;
  fill: #ffffff;
}

.check-text__svg{
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear, border 250ms linear;
}
.check-link {
  padding-left: 5px;
  color: var(--accent);
}
.form-check{
  &:checked + .check-text span{
        background-color: var(--accent);
        border: none;
  }
}

// .form-check{
//     &:checked {
//         + .check-text{
//           span{
//             background-color: var(--accent);
//             border: none;
//       } 
//     }
//   }
// }

