.portfolio-list-item{
  &:hover .portfolio-image-text-up {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform: translateY(0%);
  }
}

.portfolio-link {
  text-decoration: none;
}


.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-image-text-up {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: var(--accent);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  @media screen and (min-width: 380px){
    font-size: 18px;
  }
}
