body {
    font-family: Roboto, sans-serif, Raleway;
    background-color: var(--main-bg);
    color: var(--main-text);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.accent-color {
    color: var(--accent);
}

.link {
    text-decoration: none;
    transition: color 250ms linear;
        &:hover,
        &:focus{
            color: var(--accent);
        }
}

.flex-box {
    display: flex;
}
.centered {
    text-align: center;
}
