.section-advantages {
    padding: 60px 0px;
    // padding-top: 94px;
    // padding-bottom: 47px;
    @media  screen and (min-width:480px){
        padding:60px 0px;
    }
}
.advantage-list {
    // display: flex;
    // flex-direction: row;
    
}
.advantage-list__item{
    min-width: 320px;
    &:not(:last-child){
        margin-bottom: 30px;
    } 
}


// .advantage-list__item + .advantage-list__item {
//     margin-left: 30px;
   
.advantage-list__title{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text);
    margin-bottom: 10px;

}

.advantage-list__text {
    max-width: 320px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-text);
    @media screen and (min-width: 480px){
        max-width: 450px;
    }
}
