.section-advantages {
    padding: 60px 0px;
    @media screen and (min-width:1200px){
        padding-top: 94px;
        padding-bottom: 47px;
    }

}
.advantage-list {
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
    }
}
.advantage-list__item{
    @media screen and (max-width:767px){
        &:not(:last-child){
            margin-bottom: 30px;
        } 
    }
    @media screen and (min-width:768px) and (max-width:1199px){
        &:not(:nth-last-child(-n+2)){
            margin-bottom: 30px;
        }
        &:not(:nth-child(odd)){
            margin-left:30px;
        }
        flex-basis: calc(100% / 2 - 30px);
        
    }
    @media screen and (min-width:1200px){
        flex-basis: calc(100% / 4 - 30px);
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}


// .advantage-list__item + .advantage-list__item {
//     margin-left: 30px;
   
.advantage-list__title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text);
    margin-bottom: 10px;
    @media screen and (min-width:0px) and (max-width:767px){
        text-align: center;
    }

}

.advantage-list__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-text);
}
