.page-header {
    border-bottom: 1px solid var(--header-borderline);
}
.navigation-block{
  display: none;
  @media screen and (min-width:768px){
    display: flex;
  }
}
.navigation-menu{
  display: flex;
}
  .navigation-menu__list {
    display: flex;
    margin-right: 60px;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text);
    @media screen and (min-width:1200px){
      margin-right: 305px;
    }
  }
  
  .navigation-menu__item {
    & +.navigation-menu__item {
      margin-left: 50px;
  }
}
   /* :not(:last-child) */

  .navigation-menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text);
  }
