.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1600px;
}

.hero-bcg {
    max-width: 1600px;
    max-height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
    url(../images/hero-bcg/hero.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero_title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg);
}