.hero {
    text-align: center;
    @media screen and (max-width:767px){
        padding: 118px 60px;
    }
    @media screen and (min-width:768px){
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @media screen and (min-width:1200px){
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero-container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width:1200px){
      min-width: 1600px;  
    }
    

}

.hero-bcg {
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width:479px){
        background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
    url(../images/hero-bcg/mob/x1/hero__bcg--1x.jpg);
    }
    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
                url(../images/hero-bcg/mob/x2/hero__bcg--2x.jpg);
            }
        @media screen and (min-width:768px){
            background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
            url(../images/hero-bcg/tab/x1/hero__bcg--1x.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
                url(../images/hero-bcg/tab/x2/hero__bcg--2x.jpg);
            }
        }
        @media screen and (min-width:1200px){
            background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
            url(../images/hero-bcg/desk/x1/hero__bcg--1x.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
                url(../images/hero-bcg/desk/x2/hero__bcg--2x.jpg);
            }
        }
    }

    // @media screen and (min-width: 0px){
    //     background-size:cover;
    // }
    // @media screen and (min-width:  1200px){
    // min-width: 1200px;
    // min-height: 600px;
    // background-size: cover;
    // }
.hero_title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg);
    @media screen and (min-width:0px) and (max-width:1199px){
        font-size: 26px;
        line-height: calc(42 / 26);
        max-width: 360px;
    }
    @media screen and (min-width:1200px){
        font-size: 44px;
    line-height: 1.4;
    max-width: 700px;
    }
}
