.hero {
    text-align: center;
    @media screen and (max-width:767px){
        padding: 118px 60px;
    }
    @media screen and (min-width:768px){
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @media screen and (min-width:1200px){
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero-container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width:1200px){
      min-width: 1600px;  
    }
    

}

.hero-bcg {

    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
    url(../images/hero-bcg/hero.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (min-width: 0px){
        background-size:cover;
    }
    @media screen and (min-width:  1200px){
    min-width: 1600px;
    min-height: 600px;
    }
}
.hero_title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg);
    @media screen and (min-width:0px) and (max-width:1199px){
        font-size: 26px;
        line-height: calc(42 / 26);
        max-width: 360px;
    }
    @media screen and (min-width:1200px){
        font-size: 44px;
    line-height: 1.4;
    max-width: 700px;
    }
}

// font-weight: 900;
// font-size: 26px;
// line-height: 42px;
// /* or 162% */

// text-align: center;