.portfolio-item-list{
  
  @media screen and (min-width:768px){
    display: flex;
    // justify-content: center;
  }
}
.portfolio-card-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .portfolio-image-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text);
  }
  
  .portfolio-image-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--main-text);
  }
  .buttons-list {
    margin-bottom: 50px;
    @media screen and (min-width:0px) and (max-width:767px){
      display: inline-block;
      margin-bottom: 40px;
    }
    @media screen and (min-width:768px){
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
      
    }
    
  .list-item-buttons{
    display: inline-block;
    @media screen and (max-width:767px){
      &:not(:last-child){
        margin-right: 8px;
        margin-bottom: 15px;
      }
    }
    @media screen and (min-width:768px){
      margin-bottom: 0px;
      margin-right: 8px;
    }
  }
//   .list-item-buttons {
//     & +.list-item-buttons {
//       margin-left: 8px;
//   } 
// }
  
  .portfolio-item-list {
    flex-wrap: wrap;
    // margin-bottom: -30px;
    // margin-right: -30px;
  }
  
  .portfolio-list-item {
    text-decoration: none;
    // flex-basis: calc(100% / 3 - 30px);
    // margin-right: 30px;
    // margin-bottom: 30px;
    background: var(--main-bg);
    border: 1px solid var(--partfolio-border);
    @media screen and (min-width:768px){
      flex-basis: calc(100% / 2 - 30px);
      &:not(:nth-child(even)){
        margin-right: 30px;
      }
      &:not(:last-child){
        margin-bottom: 30px;
      }
    }
  }